<link href="{{request.static_url('gkwebapp:static/css/drcrnote.css')}}" rel="stylesheet" type="text/css">
<form class="form-inline" >
  <input id="status" type="hidden" value="{{ gkresult["inoutflag"] }}">
   <div class="col-md-12">
    <div class="col-md-4">
      {% if gkresult["dctypeflag"] == 3 %}
	<h4>Credit Note Details: </h4>
      {% else %}
	<h4>Debit Note Details: </h4>
      {% endif %}
      <div class="form-group form-inline col-sm-12 nopadding">
	<label class="normal"for="invoiceno">{% trans %}Invoice No.{% endtrans %} : </label>
	{{ gkresult["invdata"]["invoiceno"] }}, {{ gkresult["invdata"]["invoicedate"] }}, {{ gkresult["custSupDetails"]["custname"] }}
      </div>
      <div class="form-group form-inline col-sm-12 nopadding">
	{% if gkresult["dctypeflag"] == 3 %}
	  <label for="creditnoteno" class="normal">{% trans %}Credit Note No.{% endtrans %} : </label>
	{% else %}
	  <label for="debitnoteno" class="normal">{% trans %}Debit Note No.{% endtrans %} : </label>
	{% endif %}
	{{gkresult["drcrno"]}}
      </div>
      <div class="form-group form-inline col-sm-12 nopadding">
	{% if gkresult["dctypeflag"] == 3 %}
	  <label for="creditnotedate" class="normal">{% trans %}Credit Note Date{% endtrans %} : </label>
	{% else %}
	  <label for="debitnotedate" class="normal">{% trans %}Debit Note Date{% endtrans %} : </label>
	{% endif %}
	{{gkresult["drcrdate"]}}
      </div>
      {% if gkresult["reference"]%}
	<div class="form-group form-inline col-sm-12 nopadding">
	  {% if gkresult["dctypeflag"] == 3 %}
	    <label for="creditnotenoref" class="normal">{% trans %}Debit Note No.{% endtrans %} : </label>
	  {% else %}
	    <label for="debitnotenoref" class="normal">{% trans %}Credit Note No.{% endtrans %} : </label>
	  {% endif %}
	  {{gkresult["reference"]["dcref"]}}
	</div>
	<div class="form-group form-inline col-sm-12 nopadding">
	  {% if gkresult["dctypeflag"] == 3 %}
	    <label for="creditnotedateref" class="normal">{% trans %}Debit Note Date{% endtrans %} : </label>
	  {% else %}
	    <label for="debitnotedateref" class="normal">{% trans %}Credit Note Date{% endtrans %} : </label>
	  {% endif %}
	  {{gkresult["reference"]["dcdate"]}}
	</div>
      {% endif %}
      {% if gkresult["invdata"]["taxflag"] == 7 %}
	<div class="form-group form-inline col-sm-12 nopadding">
	  <label class="fsize gstinfield" for="orggstin">{% trans %}GSTIN{% endtrans %} : {{gkresult["invdata"]["orgstategstin"]}}</label>
	</div>
      {% endif %}
    </div>

    <div class="col-md-4 borderdiv">
      {% if gkresult["invdata"]["inoutflag"] == 15 %}
	<h4>{% trans %}Details of Sale Invoice{% endtrans %} :</h4>
      {% else %}
	<h4>{% trans %}Details of Purchase Invoice{% endtrans %} :</h4>
      {% endif %}
      {% if gkresult["invdata"]["inoutflag"] == 15 %}
	<label>{% trans %}Dispatch From {% endtrans %} :</label>
      {% else %}
        <label> {% trans %}Received At{% endtrans %} :</label>
      {% endif %}
      {% if gkresult["invdata"]["inoutflag"] == 9 %}{{ gkresult["invdata"]["taxstate"] }}{% endif %}
      {% if gkresult["invdata"]["inoutflag"] == 15 %}{{ gkresult["invdata"]["sourcestate"] }}{% endif %}
      
      <div class="form-group form-inline col-sm-12 nopadding">
	<label for="drcr_customer">{% trans %}State Code{% endtrans %} :
	  {% if gkresult["invdata"]["inoutflag"] == 9 %}{{ '%02d' | format(gkresult["invdata"]["taxstatecode"] | int) }}{% endif %}
	  {% if gkresult["invdata"]["inoutflag"] == 15 %}{{ '%02d' | format(gkresult["invdata"]["sourcestatecode"] | int)}}{% endif %}
	</label>
      </div>
      <div class="form-group form-inline col-sm-12 nopadding">
	<label for="drcr_issuer_name">{% trans %}Issuer's Name{% endtrans %} : </label>{{ gkresult["invdata"]["issuername"] }}
      </div>
      <div class="form-group form-inline col-sm-12 nopadding">
	<label for="drcr_issuer_designation">{% trans %}Designation{% endtrans %} : </label>
	{% if gkresult["invdata"]["designation"]== -1 %}{{"Admin"}}
	{% elif gkresult["invdata"]["designation"]== 0 %}{{"Manager"}}
	{% elif gkresult["invdata"]["designation"]== 1 %}{{"Operator"}}
	{% elif gkresult["invdata"]["designation"]== 2 %}{{"Auditor"}}
	{% elif gkresult["invdata"]["designation"]== 3 %}{{"Godown In Charge"}}
	{%else%}
	  {{gkresult["invdata"]["designation"]}}
	{% endif %}
      </div>
    </div>
    <!-- used c/s -->
    <div class="col-md-4 borderdiv">
      {% if gkresult["invdata"]["inoutflag"] == 15 %}
	<h4>{% trans %}Details of Reciever | Billed to{% endtrans %} :</h4>
      {% else %}
	<h4>{% trans %}Details of Supplier{% endtrans %} :</h4>
      {% endif %}
      <div class="form-group form-inline col-sm-12 nopadding">
	<label for="invoice_customer">
	  {% if gkresult["invdata"]["inoutflag"] == 15 %}
	    {% trans %}Customer{% endtrans %} :
	  {% else %}
	    {% trans %}Supplier{% endtrans %} :
	  {% endif %}
	</label>
	{{ gkresult["custSupDetails"]["custname"] }}
      </div>
      <div class="form-group form-inline col-sm-12 nopadding">
	<label>
	  {% if gkresult["invdata"]["inoutflag"] == 15 %}
	    {% trans %}Customer State{% endtrans %} :
	  {% else %}
	    {% trans %}Supplier State{% endtrans %} :
	  {% endif %}
	</label>
	{% if gkresult["invdata"]["inoutflag"] == 15 %}
	  {{ gkresult["invdata"]["taxstate"] }}
	{% endif %}
	{% if gkresult["invdata"]["inoutflag"] == 9 %}
	  {{ gkresult["invdata"]["sourcestate"] }}
	{% endif %}
      </div>
      <div class="form-inline form-group col-sm-12 nopadding">
	<label for="stcode">{% trans %}State Code{% endtrans %} : </label>
	{% if gkresult["invdata"]["inoutflag"] == 15 %}{{ '%02d' | format(gkresult["invdata"]["taxstatecode"] | int) }}{% endif %}
	{% if gkresult["invdata"]["inoutflag"] == 9 %}{{ '%02d' | format(gkresult["invdata"]["sourcestatecode"] | int) }}{% endif %}
      </div>
      {% if gkresult["invdata"]["taxflag"] == 22 %}
	<div class="form-group form-inline col-sm-12 nopadding">
	  <label for="tin" class=" col-form-label col-form-label-sm" id="transmode">{% trans %}TIN{% endtrans %} : </label>
	  {{ gkresult["custSupDetails"]["custtin"] }}
	</div>
	<input type="text"  id="taxapplicable" value="22" accesskey="" hidden>
      {% endif %}
      {% if gkresult["invdata"]["taxflag"] == 7 %}
	<div class="form-group form-inline col-sm-12 nopadding">
	  <label for="gstin" class=" col-form-label col-form-label-sm" id="transmode">{% trans %}GSTIN{% endtrans %} : </label>
	  {{ gkresult["custSupDetails"]["custgstin"] }}
	</div>
	<input type="text" id="taxapplicable" value="7" accesskey="" hidden>
      {% endif %}
      <div class="form-inline form-group col-sm-12 nopadding">
	<label>
	  {% if gkresult["invdata"]["inoutflag"] == 15 %}
	    {% trans %}Customer Address{% endtrans %} :
	  {% else %}
	    {% trans %}Supplier Address{% endtrans %} :
	  {% endif %}
	</label>
	{{ gkresult["custSupDetails"]["custaddr"] }}
      </div>
    </div>
    <!-- used end -->
    {% if gkresult["invdata"]["taxflag"] == 22 %}
      <div class="col-md-12 ">
	<div class="col-md-3 nopadding">
	  <label for="tax applicable" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :</label>
	  VAT
	</div>
      </div>
      <div class="col-md-12">
	<br>
	<table id="drcrnote_product_table_vat" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase">
	  <thead class="bg-primary">
	    <tr>
	      <th class="mdvwrap text-center">{% trans %}Product{% endtrans %}</th>
	      <th class="qtyvwrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
	      <th class="qtyvwrap text-center">{% trans %}Price Per Unit{% endtrans %}</th>
	      <th class="smvwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
	      {% if gkresult["dctypeflag"] == 3 %}
		<th class="smvwrap text-center">{% trans %}Credited Value{% endtrans %}</th>
	      {% else %}
		<th class="smvwrap text-center">{% trans %}Debited Value{% endtrans %}</th>
	      {% endif %}
	      <th class="smvwrap text-center">{% trans %}Taxable Value{% endtrans %}</th>
	      <th class="ratewrap text-center">{% trans %}Tax Rate{% endtrans %} %</th>
	      <th class="smvwrap text-center">{% trans %}Tax Amount{% endtrans %}</th>
	      <th class="smvwrap text-center">{% trans %}Total{% endtrans %}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for product in gkresult["drcrcontents"] %}
	      <tr>
		<td class="mdvwrap">
		  {{ gkresult["drcrcontents"][product]["proddesc"] }}
		</td>
		<td class="qtyvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["qty"] }} {{ gkresult["drcrcontents"][product]["uom"] }}
		</td>
		<td class="qtyvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["priceperunit"] }}
		</td>
		<td class="smvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["discount"] }}
		</td>
		<td class="smvwrap text-right">
		  {{ gkresult["reductval"][product]}}
		</td>
		<td class="smvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["newtaxableamnt"] }}
		</td>
		</td>
		<td class="ratewrap text-right">
		  {{ gkresult["drcrcontents"][product]["taxrate"] }}
		</td>
		<td class="smvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["taxamount"] }}
		</td>
		<td class="smvwrap text-right">
		  {{ gkresult["drcrcontents"][product]["totalAmount"] }}
		</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	  <tfoot>
	    <tr>
	      <td colspan="5" class="text-right">
		{% trans %}Total{% endtrans %}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["totaltaxablevalue"] }}
	      </td>
	      <td class="ratewrap">

	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["totaltaxamt"] }}
	      </td>
	      <td class="smvwrap text-right">
		{{ gkresult["totreduct"] }}
	      </td>
	    </tr>
	  </tfoot>

	</table>
      </div>
    {% else %}
      <div class="col-md-12">
	<div class="col-md-3">
	  <label for="tax applicable" name="taxflag">{% trans %}Tax Applicable{% endtrans %} :</label>
	  GST
      </select>
	</div>
      </div>
      <div class="col-md-12">
	<br>
	<small id="txtareahelp" class="form-text text-muted">{% trans %}Please scroll horizontally to see all fields in this table.{% endtrans %}</small>
	<div class="row col-md-12" id="gstproducttable">
	  <div class="col-sm-10" style="overflow-x:scroll;">
	    <div class="row">
	      <table id="drcrnote_product_table_gst_heading" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
		<thead class="bg-primary">
		  <tr>
		    <th rowspan="2" class="mdwrap text-center">{% trans %}Product{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}HSN Code/ ACS Code{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Billed Quantity{% endtrans %}</th>
		    <th rowspan="2" class="qtywrap text-center">{% trans %}Price Per Unit{% endtrans %}</th>
		    {% if gkresult["dctypeflag"] == 3 %}
		      <th rowspan="2" class="smwrap text-center">{% trans %}Credited Value{% endtrans %}</th>
		    {% else %}
		      <th rowspan="2" class="smwrap text-center">{% trans %}Debited Value{% endtrans %}</th>
		    {% endif %}
		    <th rowspan="2" class="smwrap text-center">{% trans %}Discount Amount{% endtrans %}</th>
		    <th rowspan="2" class="smwrap text-center">{% trans %}Taxable Value {% endtrans %}</th>
		    {% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="taxwrap text-center">{% trans %}CGST{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th colspan="2" class="taxwrap text-center">{% trans %}SGST/UTGST{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='IGST' %}<th colspan="2" class="taxwrap text-center">{% trans %}IGST{% endtrans %}</th>{% endif %}
		    <th colspan="2" class="taxwrap text-center">{% trans %}CESS{% endtrans %}</th>
		  </tr>

		  <tr>
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Rate{% endtrans %} %</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Amount{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Rate{% endtrans %} %</th>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<th class="text-center">{% trans %}Amount{% endtrans %}</th>{% endif %}
		    {% if gkresult["taxname"]=='IGST' %}<th class="text-center">{% trans %}Rate{% endtrans %} %</th>{% endif %}
		    {% if gkresult["taxname"]=='IGST' %}<th class="text-center">{% trans %}Amount{% endtrans %}</th>{% endif %}
		    <th class="text-center">{% trans %}Rate{% endtrans %} %</th>
		    <th class="text-center">{% trans %}Amount{% endtrans %}</th>
		  </tr>
		</thead>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst" class="nopadding table table-condensed table-bordered fixed-table fixed-tablepurchase" style="overflow-x:hidden;overflow-y:scroll;width:140%; max-width:140%;">
		<tbody>
		  {% for product in gkresult["drcrcontents"] %}
		    <tr>
		      <td class="mdwrap">
			{{ gkresult["drcrcontents"][product]["proddesc"] }}
		      </td>
		      <td class="smwrap text-center">
			{{ gkresult["drcrcontents"][product]["gscode"] }}
		      </td>
		      <td class="qtywrap text-right">
			{{ gkresult["drcrcontents"][product]["qty"] }} {{ gkresult["drcrcontents"][product]["uom"] }}
		      </td>
		      <td class="qtywrap text-right">
			{{ gkresult["drcrcontents"][product]["priceperunit"] }}
		      </td>
		      <td class="smwrap text-right">
			{{ gkresult["drcrcontents"][product]["discount"] }}
		      </td>
		      <td class="smwrap text-right">
			{{ gkresult["reductval"][product]}}
		      </td>
		      <td class="smwrap text-right">
			{#wrong#}
			{{ gkresult["drcrcontents"][product]["newtaxableamnt"] }}
		      </td>

		      {% if gkresult["drcrcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxrate"] }}</td>{% endif %}
		      {% if gkresult["drcrcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxamount"] }}</td>{% endif %}

		      {% if gkresult["drcrcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxrate"] }}</td>{% endif %}
		      {% if gkresult["drcrcontents"][product]["taxname"]=='SGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxamount"] }}</td>{% endif %}

		      {% if gkresult["drcrcontents"][product]["taxname"]=='IGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxrate"] }}</td>{% endif %}
		      {% if gkresult["drcrcontents"][product]["taxname"]=='IGST' %}<td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["taxamount"] }}</td>{% endif %}
		      <td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["cessrate"] }}</td>
		      <td class="taxcell text-right">{{ gkresult["drcrcontents"][product]["cess"] }}</td>
		    </tr>
		  {% endfor %}
		</tbody>
	      </table>
	    </div>
	    <div class="row">
	      <table id="invoice_product_table_gst_tfoot" class=" table table-condensed table-bordered fixed-table fixed-tablepurchase" style="width:140%; max-width:140%;">
		<tfoot>
		  <tr>
		    <td colspan="6" class="text-right totalwrap" style="vertical-align:middle; font-size:75%">Total</td>
		    <td class="text-right smwrap">{{ gkresult["totaltaxablevalue"] }}</td>
		    {% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right taxwrap">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		    {% if gkresult["taxname"]=='SGST' %}<td colspan="2" class="text-right taxwrap">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		    {% if gkresult["taxname"]=='IGST' %}<td colspan="2" class="text-right taxwrap">{{ gkresult["totaltaxamt"] }}</td>{% endif %}
		    <td colspan="2" class="text-right taxwrap">{{ gkresult["totalcessamt"] }}</td>
		  </tr>
		</tfoot>
	      </table>
	    </div>
	  </div>
	  <div class="col-sm-2 nopadding">
	    <table id="invoice_product_table_total" class="table table-condensed table-bordered fixed-table fixed-tablepurchase">
	      <thead>
		<tr>
		  <th style="line-height:380% !important; text-align:center;" class="col-xs-8">Total</th>
		</tr>
	      </thead>
	      <tbody>
		{% for product in gkresult["drcrcontents"] %}
		  <tr>
		    <td class="col-xs-12 text-right">{{ gkresult["drcrcontents"][product]["totalAmount"] }}</td>
		  </tr>
		{% endfor %}
	      </tbody>
	      <tfoot>
		<td class="col-xs-12 text-right">
		  {{ gkresult["totreduct"] }}
		</td>
	      </tfoot>
	    </table>
	  </div>
	</div>
      </div>
    {% endif %}
    
    {#-----------------------------------------------------------------------------------#}


    <div class="col-sm-12" style="margin-top:0.2cm;">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="margin-top:0.7cm;">
	<div class="row hborderdiv">
	  <div class="col-sm-6">
	    <label for="taxableamount" style="font-size:100% !important;">{% trans %}Taxable Amount{% endtrans %} :</label>
	  </div>
	  <div class="col-sm-6 text-right">
	    <label id="taxableamount" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxablevalue"] }}</label>
	  </div>
	</div>
	
	{% if gkresult["invdata"]["taxflag"] == 7 %}
	  {% if gkresult["taxname"]=='SGST' %}
	    <div class="row hborderdiv">
	      <div class="col-sm-6">
		<label for="totalsgtax" style="font-size:100% !important;">{% trans %}Total SGST{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right"
		<label id="totalsgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	      </div>
	    </div>
	    <div class="row hborderdiv">
	      <div class="col-sm-6">
		<label for="totalcgtax" style="font-size:100% !important;">{% trans %}Total CGST{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totalcgtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	      </div>
	    </div>
	  {% endif %}
	  {% if gkresult["taxname"]=='IGST' %}
	    <div class="row hborderdiv">
	      <div class="col-sm-6">
		<label for="totaligtax" style="font-size:100% !important;">{% trans %}Total IGST{% endtrans %} :</label>
	      </div>
	      <div class="col-sm-6 text-right">
		<label id="totaligtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	      </div>
	    </div>
	  {% endif %}
	  <div class="row hborderdiv">
	    <div class="col-sm-6">
	      <label for="totalinvcess" style="font-size:100% !important;">{% trans %}Total CESS{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right">
	      <label id="totalinvcess" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totalcessamt"] }}</label>
	    </div>
	  </div>
	{% else %}
	  <div class="row hborderdiv vatfield">
	    <div class="col-sm-6">
	      <label for="totalinvtax" style="font-size:100% !important;">{% trans %}Total Tax{% endtrans %} :</label>
	    </div>
	    <div class="col-sm-6 text-right"
	      <label id="totalinvtax" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totaltaxamt"] }}</label>
	    </div>
	  </div>
	{% endif %}
	<div class="row hborderdiv" style="border-bottom-style:solid;">
	  <div class="col-sm-6">
	    <label for="totalinvoicevalue" style="font-size:100% !important;">{% trans %}Total Payable Value{% endtrans %} :</label>
	  </div>
	  <div class="col-sm-6 text-right">
	    <label id="totalinvoicevalue" style="font-size:100% !important; font-weight:normal !important">{{ gkresult["totreduct"] }}</label>
	  </div>
	</div>
      </div>
    </div>

    
    {#------------------------------------------------------------------------------------#}
   </div>
   </div>
</form>
