<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}View GST Summary{% endtrans %}</title>
    <style media="screen">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     label {
  	 font-size: 100%;
     }

     .button {
	 background-color:#e7e7e7;  /* Grey */
	 border: none;
	 border-radius: 4px;
	 width: 180px;
	 height:30px;
	 color: black;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 12px;
	 border: 1px solid #555555;
     }

     .optiondialog {
	  overflow-y:scroll;
	  max-height:60vh !important;
     }
    </style>
  </head>
  <body>
    <div style="padding-top:5px" class="container-fluid mainbox col-md-6 ">
      <div class="panel shadow">
	<div class="panel-heading">
          <h3 class="panel-title">{% trans %}View GST Summary{% endtrans %}
            <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#CashFModal"></i></h3>
	</div>
	<div class="panel-body">
          <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>

            <label for="cashfl_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

            <label for="cashfl_fromdate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>

            <label for="cashfl_todate">{% trans %}From date should be smaller or equal to to date !{% endtrans %}</label>
          </div>
	  <div class="alert alert-danger" id="select-account" aria-live="rude" role="alert" hidden>

            <label for="select-account">{% trans %}Please select accounts for respective tax calculations!{% endtrans %}</label>
          </div>
	  <div  class="row ">
	    <div class="form-inline col-sm-12">
	      <label for="state" >{% trans %}State{% endtrans %} :</label>
	    
	    
		  <select class="form-control input-sm " id="state" aria-describedby="statecodeforreport">
                    {% for state in states %}
		      {% for key, value in state.items() %}
			<option value="{{value}}" stateid="{{key}}">{{value}}</option>
		      {% endfor %}
		    {% endfor %}
                  </select>
	    
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    
	    <div class="form-inline col-sm-6">
              <label for="cashfl_fromdate">{% trans %}From{% endtrans %} :</label>
              
              <div class="form-group">
		<input type="text" class="form-control input-sm gstsm_autotab" id="from_date" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
		<input type="text" class="form-control input-sm gstsm_autotab" id="from_month" value="" size="2" maxlength="2" placeholder="MM">
		<input type="text" class="form-control input-sm gstsm_autotab" id="from_year" value="" size="4" maxlength="4" placeholder="YYYY">
              </div>
	    </div>
	    
	    
            <div class="form-inline col-sm-6">
              <label for="cashfl_todate">{% trans %}To{% endtrans %} :</label>
              <div class="form-group">

		<input type="text" class="form-control input-sm gstsm_autotab" id="to_date" value=""  size="2" maxlength="2" placeholder="DD">
		<input type="text" class="form-control input-sm gstsm_autotab" id="to_month" value="" size="2" maxlength="2" placeholder="MM">
		<input type="text" class="form-control input-sm gstsm_autotab" id="to_year" value="" size="4" maxlength="4" placeholder="YYYY">
	      </div>
            </div>
	  </div>
	  <div style="border:1px solid grey; border-radius:4px; margin-top:20px; padding:10px;">
	    <div class ="row">
	      <div class="col-sm-12">
		<label><font size="3">{%trans%}Select Account/s for tax calculation{% endtrans %}</font></label>
	      </div>
	    </div>
	    <br>
	    <div class ="row">
	      
	      <div class="form-inline col-sm-6">
		<label for="sgst_in">{% trans %}SGST In{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="sgst_in" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox sgstinaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>

		
	      </div>

	      <div class="form-inline col-sm-6">
		<label for ="sgst_out">{% trans %}SGST Out{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="sgst_out" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox sgstoutaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>
	    </div>
	    <br>
	    <div class ="row">
	      <div class="form-inline col-sm-6">
		<label for="cgst_in">{% trans %}CGST In{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="cgst_in" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox cgstinaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>

	      <div class="form-inline col-sm-6">
		<label for ="cgst_out">{% trans %}CGST Out{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" type="button" id="cgst_out" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox cgstoutaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>
	    </div>

	    <br>
	    <div class ="row">
	      <div class="form-inline col-sm-6">
		<label for="igst_in">{% trans %}IGST In{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="igst_in" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox igstinaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>

	      <div class="form-inline col-sm-6">
		<label for ="igst_out">{% trans %}IGST Out{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="igst_out" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox igstoutaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>
	    </div>

	    <br>
	    <div class ="row">
	      <div class="form-inline col-sm-6">
		<label for="cess_in">{% trans %}CESS In{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="cess_in" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox cessinaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>

	      <div class="form-inline col-sm-6">
		<label for ="cess_out">{% trans %}CESS Out{% endtrans %} :</label>
		<div class="dropdown">
		  <button class="btn button  dropdown-toggle" id="cess_out" type="button" data-toggle="dropdown">Select Account/s <span class="caret"></span></button>
		  <ul class="dropdown-menu">
		    {% for accs in gkresult %}
		      <li class="dropdownitem"><a href="#"><label>
			<input type="checkbox" class="dropdowncheckbox cessoutaccount" value="{{accs['accountcode']}}">{{accs["accountname"]}}</label></a></li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>
	    </div>
	    
	  </div>


	</div>
	<div class="panel-footer">
          <button type="button" class="btn btn-sm btn-primary" name="button" id="report_view" accesskey="v"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}<u>V</u>iew{% endtrans %}</button>
          <button type="button" name="button" class="btn btn-sm btn-danger" id="cashfl_reset" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	</div>
      </div>
      <div id="CashFModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
	  <div class="modal-dialog bgcolor " >
	    <div class="modal-content ">
	      <div class="modal-header">
		{% trans %}<strong>Help!</strong>{% endtrans %}
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button> </div>
	      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

		<p>   <font color=" #566573"> {%trans%}
		  This report is a summary of all tax input and output under GST.</br>

		  This report requires the state for which the summary is generated, period and list of accounts to be taken into consideration.</br> 
		  Dropdowns are provided for each type of tax - SGST, CGST and IGST(both input and output).</br>
		  There is a checkbox beside each account name which can be checked so that it is marked for GST calculation.</br>
		  Once state is selected, date is entered and accounts are selected click 'View' button to view the report.
		  {% endtrans %} </font>

		</p>
	      </div>

	    </div>
	  </div>
	</div>
    </div>
    
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewgstsummary.js')}}"></script>
  </body>
</html>
